#### 패키지 가져오기

In [1]:
from pandas import read_excel
from scipy.stats import t
from matplotlib import pyplot as plt
import seaborn as sb
from scipy import stats
import sys
from math import sqrt

# 문제 1.

어떤 화학약품의 제조에 상표가 다른 두 종류의 원료가 사용되고 있다.

각 원료에서 주성분 A의 함량은 다음과 같다. 단, 함량은 정규분포를 따른다고 가정한다.

이 두 원료의 주성분 A의 함량이 다른지를 분석하라.

#### 데이터 가져오기

In [2]:
df = read_excel('https://data.hossam.kr/E02/material.xlsx')
df

     상표1   상표2
0   80.4  80.1
1   78.2  81.2
2   80.1  79.5
3   77.1  78.0
4   79.6  76.1
5   80.4  77.0
6   81.6  80.1
7   79.9  79.9
8   84.4  78.8
9   80.9  80.8
10  83.1   NaN

#### 가설 설정

| 가설 | 설명 |
|--|--|
|귀무가설|상표1 과 상표 2의 함량은 차이가 없다.|
|대립가설|상표1 과 상표 2의 함량은 차이가 있다.|

#### 결측치 대체

In [3]:
redf = df.fillna(value = 0)
redf

     상표1   상표2
0   80.4  80.1
1   78.2  81.2
2   80.1  79.5
3   77.1  78.0
4   79.6  76.1
5   80.4  77.0
6   81.6  80.1
7   79.9  79.9
8   84.4  78.8
9   80.9  80.8
10  83.1   0.0

In [4]:
stats.ttest_ind(redf['상표1'], redf['상표2'], equal_var = False, alternative = 'two-sided')

TtestResult(statistic=1.1832755376735804, pvalue=0.26368575974310254, df=10.145224705977204)

#### 결론

P-value 값이 0.05 보다 크므로 귀무 가설을 채택한다. 상표1과 상표2의 함량을 다르지 않다.

# 문제 2

특정 피임약이 사용자의 혈압을 저하시키는지 조사하고자 한다.

이를 위해 부인 15명을 대상으로 평상시 혈압을 측정한 뒤, 이들에게 이 피임약을 일정 기간 복용하게 한 후 이들의 혈압을 다시 측정한 결과를 기록했다.

얻어진 데이터는 다음과 같다. 피임약 복용이 혈압에 영향을 주는지 분석하라.

In [5]:
cf = read_excel('https://data.hossam.kr/E02/blood_pressure.xlsx')
cf

    복용전  복용후
0    70   68
1    80   72
2    72   62
3    76   70
4    76   58
5    76   66
6    72   68
7    78   52
8    82   64
9    64   72
10   74   74
11   92   60
12   74   74
13   68   72
14   84   74

#### 가설 설정

| 가설 | 설명 |
|--|--|
|귀무가설|피임약 복용은 혈압에 영향이 없다.|
|대립가설|피임약 복용은 혈압에 영향이 있다.|

In [6]:
stats.ttest_ind(cf['복용전'], cf['복용후'], equal_var = False, alternative = 'two-sided')

TtestResult(statistic=3.5607002511565433, pvalue=0.0013468943774640983, df=27.976971337340846)

#### 결론

P-value 값이 0.05 보다 작다 대립 가설을 채택한다. 피임약 복용은 혈압에 영향이 있다.

# 문제 3

고등학교 육상선수에게 체중감량을 시키면 달리기에 어떤 변화가 일어나는지 조사하기 위 하여, 어떤 고등학교 육상선수 10명에게 감량훈련(2~4kg 정도)을 시킨 후 100m 달리기를 실시하여 다음의 데이터를 얻었다.

감량 전과 후에 달리기 속도에 차이가 있는지 분석하라

In [7]:
af = read_excel('https://data.hossam.kr/E02/runner_diet.xlsx')
af1 = af.dropna(axis =1)
af1

    감량전   감량후
0  14.5  14.3
1  13.4  13.4
2  13.0  13.1
3  14.5  13.9
4  13.3  13.1
5  14.2  13.9
6  13.6  13.6
7  13.9  14.0
8  13.2  12.8
9  13.0  12.8

#### 가설 설정

| 가설 | 설명 |
|--|--|
|귀무가설|감량 전과 후의 달리기 속도는 차이가 없다.|
|대립가설|감량 전과 후의 달리기 속도는 차이가 있다.|

In [8]:
stats.ttest_rel(af1['감량전'], af1['감량후'], alternative = 'two-sided')

TtestResult(statistic=2.375306807446375, pvalue=0.04154604923393679, df=9)

#### 결론

P-value 값이 0.05 보다 작다 대립 가설을 채택한다. 감량 전과 후의 달리기 속도는 차이가 있다.

# 문제 4

고등학교 레슬링 선수에게 체중감량을 시키면 체력에 어떤 변화가 일어나는지 조사하기 위하여, 어느 고등학교의 레슬링 선수 12명을 표본추출하여 감량시킨 후 다음의 체력 데이터를 얻었다.

감량 전과 감량 후 간에 차이가 있는가의 대응비교를 악력(우), 윗몸일으키기, 턱걸이, 100m 달리기에 대하여 실시하고 분석하라.

In [9]:
pf = read_excel('https://data.hossam.kr/E02/wrestler_diet.xlsx')
pf

,이름,감량전 악력,감량후 악력,감량전 윗몸일으키기,감량후 윗몸일으키기,감량전 턱걸이,감량후 턱걸이,감량전 100m 달리기,감량후 100m 달리기
0,B.S,43,41,35,41,25,29,14.5,14.5
1,P.J,42,41,40,44,25,29,13.4,13.4
2,G.G,52,50,36,41,22,23,13.5,13.5
3,A.L,53,52,38,42,10,15,13.9,13.9
4,I.H,44,40,36,42,15,19,13.4,13.4
5,B.Y,46,47,39,44,17,19,13.9,13.9
6,I.K,48,47,35,42,24,26,13.6,13.6
7,K.B,58,55,34,36,17,18,13.9,13.9
8,K.J,50,50,33,35,17,20,13.1,13.1
9,S.S,48,50,39,45,21,25,13.8,13.8
10,S.P,56,48,37,37,31,35,13.7,13.7
11,S.J,43,41,33,37,15,22,14.9,14.9

#### 가설 설정

| 가설 | 설명 |
|--|--|
|귀무가설|감량 전과 후의 악력은 차이가 없다.|
|대립가설|감량 전과 후의 악력은 차이가 있다.|

In [10]:
stats.ttest_rel(pf['감량전 악력'], pf['감량후 악력'], alternative = 'two-sided')

TtestResult(statistic=2.3654081485744824, pvalue=0.037454446305019644, df=11)

#### 결론

P-value 값이 0.05 보다 작다 대립 가설을 채택한다. 감량 전과 후의 악력은 차이가 있다.

#### 가설 설정

| 가설 | 설명 |
|--|--|
|귀무가설|감량 전과 후의 윗몸일으키기의 횟수는 차이가 없다.|
|대립가설|감량 전과 후의 윗몸일으키기의 횟수는 차이가 있다.|

In [11]:
stats.ttest_rel(pf['감량전 윗몸일으키기'], pf['감량후 윗몸일으키기'], alternative = 'two-sided')

TtestResult(statistic=-7.179926973956724, pvalue=1.798236117030195e-05, df=11)

#### 결론

P-value 값이 0.05 보다 작다 대립 가설을 채택한다. 감량 전과 후의 윗몸 일으키기의 횟수는 차이가 있다.

#### 가설 설정

| 가설 | 설명 |
|--|--|
|귀무가설|감량 전과 후의 턱걸이 횟수는 차이가 없다.|
|대립가설|감량 전과 후의 턱걸이 횟수는 차이가 있다.|

In [12]:
stats.ttest_rel(pf['감량전 턱걸이'], pf['감량후 턱걸이'], alternative = 'two-sided')

TtestResult(statistic=-6.841977654731714, pvalue=2.7937021187235204e-05, df=11)

#### 결론

P-value 값이 0.05 보다 작다 대립 가설을 채택한다. 감량 전과 후의 턱걸이의 횟수는 차이가 있다.

#### 가설 설정

| 가설 | 설명 |
|--|--|
|귀무가설|감량 전과 후의 100m 달리기 시간은 차이가 없다.|
|대립가설|감량 전과 후의 100m 달리기 시간은 있다.|

In [14]:
stats.ttest_rel(pf['감량전 100m 달리기'], pf['감량후 100m 달리기'], alternative = 'two-sided')

TtestResult(statistic=nan, pvalue=nan, df=11)

#### 결론

감량 전과 후의 데이터 값이 같으므로 두 표본의 차이를 측정할 수 없다. 데이터 재수집을 해야한다.