In [21]:
# Ï£ºÏÑ±Î∂Ñ Î∂ÑÏÑùÏö© Ìå®ÌÇ§ÏßÄ
from sklearn.decomposition import PCA
# Ï£ºÏÑ±Î∂Ñ Î∂ÑÏÑù Í≤∞Í≥ºÎ•º DataFrameÏúºÎ°ú ÌôïÏù∏Ìï† Ïàò ÏûàÎäî Í∏∞Îä•ÏùÑ Ï†úÍ≥µÌïòÎäî Ìå®ÌÇ§ÏßÄ
from pca import pca 
# ÌëúÏ§ÄÌôî Ï≤òÎ¶¨ Ìå®ÌÇ§ÏßÄ
from sklearn.preprocessing import StandardScaler

from pandas import read_excel, DataFrame
from statsmodels.formula.api import ols
from matplotlib import pyplot as plt
import seaborn as sb

import sys
import os
sys.path.append(os.path.dirname(os.path.dirname(os.getcwd())))
from helper import my_ols, ext_ols

# Î¨∏Ï†ú 1.

  - Îã§ÏùåÏùò Îç∞Ïù¥ÌÑ∞Îäî 442Î™ÖÏùò ÎãπÎá®Î≥ë ÌôòÏûêÎ•º ÎåÄÏÉÅÏúºÎ°ú Í≤ÄÏÇ¨ Í≤∞Í≥ºÏù¥Îã§.

  - Ï£ºÏñ¥ÏßÑ Îç∞Ïù¥ÌÑ∞Îäî ÌëúÏ§ÄÌôîÍ∞Ä Ï†ÅÏö©ÎêòÏñ¥ ÏûàÎã§.

  - Ïù¥Î•º ÌôúÏö©ÌïòÏó¨ ÎãπÎá®Î≥ë Î∞úÎ≥ë Í∞ÄÎä•ÏÑ±ÏùÑ ÏòàÏ∏°Ìï† Ïàò ÏûàÎäî ÌöåÍ∑ÄÎ™®Îç∏ÏùÑ Íµ¨ÌòÑÌïòÍ≥† Î∂ÑÏÑù Í≤∞Í≥ºÎ•º Î≥¥Í≥†ÌïòÎùº.


  | Î≥ÄÏàò | ÏÑ§Î™Ö |
  | --- | --- |
  | age | ÎÇòÏù¥ |
  | sex | ÏÑ±Î≥Ñ|
  | bmi | bmiÏßÄÏàò(ÎπÑÎßåÎèÑ) |
  | bp | ÌèâÍ∑† ÌòàÏïï |
  | s1 ~ s6 | 6Ï¢ÖÎ•òÏùò ÌòàÏï°Í≤ÄÏÇ¨ ÏàòÏπò |
  | target | ÎãπÎá®Î≥ë ÏßÑÌñâÎ•†(Ï¢ÖÏÜçÎ≥ÄÏàò) |

In [22]:
cf = read_excel('https://data.hossam.kr/E04/diabetes.xlsx')
df= cf.drop('sex', axis = 1) 
df

,age,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151
1,-0.001882,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75
2,0.085299,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141
3,-0.089063,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206
4,0.005383,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178
438,-0.005515,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485,104
439,0.041708,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491,132
440,-0.045472,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930,220
441,-0.045472,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064,57

In [23]:
cls = list(df.columns)
cls.remove("target")
cls

['age', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

In [24]:
model, fit, summary, table, result, goodness, varstr = ext_ols(df, x=cls, y="target")

['age', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6', 'target']

In [25]:
summary

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 target   R-squared:                       0.501
Model:                            OLS   Adj. R-squared:                  0.490
Method:                 Least Squares   F-statistic:                     48.11
Date:                Wed, 26 Jul 2023   Prob (F-statistic):           8.80e-60
Time:                        15:26:49   Log-Likelihood:                -2393.7
No. Observations:                 442   AIC:                             4807.
Df Residuals:                     432   BIC:                             4848.
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    152.1335      2.618     58.105      0.000     146.987     157.280
age          -33.1766     60.435     -0.549      0.583    -151.959      85.606
bmi          557.0606     66.936      8.322      0.000     425.500     688.621
bp           276.0816     65.307      4.227      0.000     147.722     404.441
s1          -712.8037    423.040     -1.685      0.093   -1544.276     118.669
s2           420.5649    344.305      1.221      0.223    -256.156    1097.285
s3           139.5108    215.800      0.646      0.518    -284.638     563.660
s4           126.2802    163.605      0.772      0.441    -195.280     447.841
s5           756.3663    174.726      4.329      0.000     412.948    1099.784
s6            48.9184     66.895      0.731      0.465     -82.561     180.398
==============================================================================
Omnibus:                        5.601   Durbin-Watson:                   2.018
Prob(Omnibus):                  0.061   Jarque-Bera (JB):                4.046
Skew:                           0.094   Prob(JB):                        0.132
Kurtosis:                       2.571   Cond. No.                         227.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [26]:
table

                     B     ÌëúÏ§ÄÏò§Ï∞®  Œ≤        t   Ïú†ÏùòÌôïÎ•†        VIF
Ï¢ÖÏÜçÎ≥ÄÏàò   ÎèÖÎ¶ΩÎ≥ÄÏàò
target age    -33.1766   60.435  0  -0.549*  0.583   1.205475
       bmi    557.0606   66.936  0   8.322*  0.000   1.505553
       bp     276.0816   65.307  0   4.227*  0.000   1.414183
       s1    -712.8037  423.040  0  -1.685*  0.093  59.106541
       s2     420.5649  344.305  0   1.221*  0.223  39.138573
       s3     139.5108  215.800  0   0.646*  0.518  15.370958
       s4     126.2802  163.605  0   0.772*  0.441   8.835057
       s5     756.3663  174.726  0   4.329*  0.000  10.124970
       s6      48.9184   66.895  0   0.731*  0.465   1.477052

In [27]:
model2, fit2, summary2, table2, result2, goodness2, varstr2 = ext_ols(df, x = "age,bmi,bp,s6".split(","), y = "target")

['age', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6', 'target']

In [28]:
table2

                    B    ÌëúÏ§ÄÏò§Ï∞®  Œ≤        t   Ïú†ÏùòÌôïÎ•†       VIF
Ï¢ÖÏÜçÎ≥ÄÏàò   ÎèÖÎ¶ΩÎ≥ÄÏàò
target age    -9.3259  64.531  0  -0.145*  0.885  1.205475
       bmi   735.4571  67.535  0  10.890*  0.000  1.505553
       bp    349.0050  69.559  0   5.017*  0.000  1.414183
       s6    199.9172  68.597  0   2.914*  0.004  1.477052

In [29]:
result2

'ùëÖ(0.408), ùëÖ^2(0.402), ùêπ(75.21), Ïú†ÏùòÌôïÎ•†(1.78e-48), Durbin-Watson(1.904)'

# Î¨∏Ï†ú 2.
  
  - Îã§ÏùåÏùò Îç∞Ïù¥ÌÑ∞ Îâ¥Ïöï Î©òÌïòÌäºÏùò Ï£ºÌÉùÏûÑÎåÄÎ£åÏóê ÏòÅÌñ•ÏùÑ Ï§ÄÎã§Í≥† ÏòàÏÉÅÎêòÎäî Î≥ÄÏàòÎì§Í≥º Ï£ºÌÉù ÏûÑÎåÄÎ£åÎ•º Ï†ïÎ¶¨Ìïú Í≤ÉÏù¥Îã§.

  - Îã§ÏñëÌïú Î≥ÄÏàò Ï§ëÏóêÏÑú Î™©ÌëúÎ°ú ÌïòÎäî Ï¢ÖÏÜçÎ≥ÄÏàòÎäî rentÏù¥Îã§. Î∂ÑÏÑùÌïòÎùº

In [30]:
rf = read_excel('https://data.hossam.kr/E04/manhattan.xlsx')
rf

,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,no_fee,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym,neighborhood,borough
0,2550,0.0,1,480,9,2.0,17,1,1,0,0,1,1,0,1,Upper East Side,Manhattan
1,11500,2.0,2,2000,4,1.0,96,0,0,0,0,0,0,0,0,Greenwich Village,Manhattan
2,4500,1.0,1,916,2,51.0,29,0,1,0,1,1,1,0,0,Midtown,Manhattan
3,4795,1.0,1,975,3,8.0,31,0,0,0,1,1,1,0,1,Greenwich Village,Manhattan
4,17500,2.0,2,4800,3,4.0,136,0,0,0,1,1,1,0,1,Soho,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3534,4210,1.0,1,532,3,8.0,16,1,1,1,1,1,1,0,1,Chelsea,Manhattan
3535,6675,2.0,2,988,5,10.0,9,1,1,1,1,1,1,0,1,Tribeca,Manhattan
3536,1699,0.0,1,250,2,5.0,96,0,0,0,0,0,0,0,0,Little Italy,Manhattan
3537,3475,1.0,1,651,6,5.0,14,1,0,1,1,1,1,0,1,Midtown West,Manhattan
3538,4500,1.0,1,816,4,11.0,9,0,1,1,1,1,0,1,1,Tribeca,Manhattan